<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="smtp.Port" value="587" />
    <add key="smtp.Host" value="smtp.office365.com" />
    <add key="smtp.EnableSsl" value="true" />
  </appSettings>  
</configuration>